/* === GERAL === */
html {
    font-size: calc(12px + 0.390625vw);
}
body{
    font-family: initial;
}
a{
    text-decoration: none;
}
h2{
    font-size: 2.2rem;
    font-weight: bold;
    color: black;
}
button{
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    margin: 2.5vw 0 0 0;
    font-size: 1.1rem;
}
/* === TOPO === */
header{
    padding: 2vw 10vw;
    background-color: #696865;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-area{
    display: flex;
    align-items: center;
    gap: 2vw;
}

header h1{
    color: #ffffff;
    font-size: 2rem;
    font-weight: normal;
}

header .date{
    color: #ffffff;
    font-size: 0.9rem;
}

header nav ul{
    display: flex;
}

header nav ul li{
    margin-left: 5vw;
    list-style: none;
}

header nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 0.9rem;
    border-bottom: 2px solid;
}




/* === BANNER === */
section.banner h2{
    margin: 2vw 0 2vw 0vw;
    text-align: center;
    font-size: 5rem;
}
section.banner div{
    background: url(../scr/image\ 2.png) no-repeat  center bottom;
    margin: 2vw 25vw 2vw 25vw;
}
section.banner div p{
    padding: 5vw;
    text-align: center;
    margin: 2vw;
    
    
}


/* === CUIDADOS === */
section.cuidados{
    margin: 5vw 10vw 5vw 10vw;
    text-align: center;
}
section.cuidados h2{
    border-bottom: 1px solid black;
    padding: 0 0 1vw 0;
    display: inline-block;
}
section.cuidados > p{
    margin: 3vw 15% 3vw 15%;
}
section.cuidados p button{
    color: #458FF6;
    border: 1px solid #458FF6;
    background: transparent;

}
section.cuidados ul{
    display: flex;
    text-align: left;
}
section.cuidados ul li{
    border: 2px solid gainsboro;
    padding: 25px;
    border-radius: 20px;
    margin: 0 3vw 0 0;
}
section.cuidados ul li:last-child{
    margin: 0;
}
section.cuidados ul li h3{
    margin: 1vw 0 1vw 0;
    font-weight: bold;
}
section.cuidados ul li p{
    font-size: 0.8rem;
    color: rgb(175, 175, 175);
    line-height: 1.1rem;
}

/* === DEPOIMENTOS === */
section.depoimentos{
    text-align: center;
    background-color: #5A98F2;
    margin: 0 10vw 0 10vw;
    border-radius: 20px;
    padding: 60px;
}
section.depoimentos h2{
    border-bottom: 1px solid white;
    padding: 0 0 1vw 0;
    display: inline-block;
    color: white;
}
section.depoimentos div{
    display: flex;
    justify-content: center;
    margin: 3vw 0 0 0;
}
section.depoimentos div p{
    text-align: left;
    width: 35%;
    margin: 0 0 0 4vw;
    color: white;
}

/* === RODAPE === */
footer{
    background-color: #5A98F2;
    color: white;
    margin: 5vw 0 0 0;
    padding: 60px 10vw 60px 10vw;
    display: flex;
    justify-content: space-between;
}
footer div p:first-child{
    margin: 0 0 3vw 0;
}
footer div h4{
    font-weight: bold;
    margin: 0 0 1vw 0;
}
footer div ul li{
    margin: 5px 0 5px 0;
}
footer a{
    color: white;
    font-size: 0.8rem;
}